################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Convert/obj/Debug
/Convert/bin/Debug
/packages
